.containerStyle {
  background-color: #F8F9FA; /* A light grey background, similar to ChatGPT */
}

body {
  font-family: 'Georgia', 'Verdana', sans-serif;
  background-color: #FFFFFF; /* White background for content */
}

/* Chat Window and Header Styles */
.main-paper {
  display: flex;
  flex-direction: column;
  height: 90vh; /* Adjust the height as needed */
  background-color: #FFFFFF; /* White background for the chat area */
}


 .header {
  position: fixed; /* Makes the header stay at the top of the page */
  top: 0; /* Aligns the header to the top edge of the page */
  left: 0;
  right: 0;
  background-color: #4A4A4A; /* Dark grey */
  color: #FFFFFF; /* White text */
  padding: 20px;
  text-align: center;
  z-index: 1000; /* Ensures the header is above other content */
}


.option:hover {
  background-color: #B0BEC5; /* A lighter shade of grey for hover effect */
}

.options-header {
  font-weight: bold;
  padding: 9px;
  text-align: center;
  color: #4A4A4A; /* Dark grey text for headers within the options panel */
}

.options-panel {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #ECEFF1; /* A light grey, similar to ChatGPT's sidebar */
  overflow-y: auto; /* Scrollable options */
  height: 100%;
  margin-top: 80px;
}

.option {
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #CFD8DC; /* Light grey border for options */
  margin-bottom: 10px; /* Space between options */
  border-radius: 5px;
  text-align: center;
  background-color: #FFFFFF; /* White background for options */
  color: #4A4A4A; /* Dark grey color for option text */
}

.option.selected {
  font-weight: bold;
  background-color: #4A4A4A;
  color: #FFFFFF; /* White text for selected option */
}

.chat-window {
  margin-top: 60px; /* Add margin-top that is equal or greater than the header's height */
}